body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 9fr / 1fr 6fr;
    background: url("./images/7680x4320-simple-blue-gradients-abstract-4k_1614437780.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 30px;
}

header #left {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #161616aa;
    backdrop-filter: blur(5px);
    width: max-content;
    width: max-content;
    padding: 0px 25px;
    padding-right: 0;
    border-radius: 25px;
    z-index: 9999;
    position: relative;
}

header #left .listName {
    color: white;
    font-weight: 900;
    font-size: 20px;
    flex: 1;
    border: none;
    border-right: solid 2px rgb(163, 162, 162);
    padding: 0 20px;
    padding-left: 0;
}

header #left .share,
header #left .view {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    gap: 7px;
    border: none;
    border-right: solid 2px rgb(163, 162, 162);
    flex: 1;
    padding: 8px 20px;
    color: rgb(163, 162, 162);
    background-color: transparent;
    cursor: pointer;
}

header #left .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: max-content;
    flex: 1;
    padding: 8px 20px;
    background-color: transparent;
    cursor: pointer;
}

header #left .share:hover,
header #left .view:hover,
header #left .burger:hover {
    background-color: #161616 !important;
}

header #left button:hover span {
    color: white; /* rgb(11, 133, 255) */
}

header #left button img {
    height: 25px;
    width: 25px;
    filter: invert(70%);
}

header #left button:hover img {
    filter: invert(46%) sepia(96%) saturate(1918%) hue-rotate(185deg) brightness(101%) contrast(102%);
}

header #left .burger:hover img {
    filter: invert(46%) sepia(96%) saturate(1918%) hue-rotate(185deg) brightness(101%) contrast(102%) !important;
}

.burgerDialogCover {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
}

.listDelete,
.taskDeleteSelect {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 2.5px 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.listDelete {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.taskDeleteSelect {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.listDelete:hover,
.taskDeleteSelect:hover {
    background-color: #65656530;
}

header #right {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

header #right .search {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #161616aa;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

header #right .search:hover {
    background-color: #161616;
}

header #right button img {
    height: 25px;
    width: 25px;
    filter: invert(70%);
}

header #right button:hover img {
    filter: invert(46%) sepia(96%) saturate(1918%) hue-rotate(185deg) brightness(101%) contrast(102%);
}

#sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 0;
    color: rgb(163, 162, 162);
}

#sidebar .profile {
    display: flex;
    gap: 15px;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 0 25px;
}

#sidebar .profile .theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid 2px rgb(163, 162, 162);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#sidebar .profile .theme img {
    height: 35px;
    width: 35px;
    filter: invert(70%);
}

#sidebar .sort {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#sidebar .sort > * {
    padding: 15px 25px;
}

#sidebar .sort > *:hover {
    background-color: #65656530;
}

#sidebar .myList {
    display: flex;
    flex-direction: column;
}

#sidebar .myList span {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

#sidebar .myList .item{
    padding: 15px 25px;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
}

#sidebar .myList .item:hover,
#sidebar .myList span:hover {
    background-color: #65656530;
}

#sidebar .myList h3{
    color: white;
    font-weight: 900;
    margin: 13.5px 0;
}

#sidebar .myList .add{
    margin: auto 0;
    margin-left: auto;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 100%;
}

#sidebar .myList .add img{
    height: 22px;
    width: 22px;
    filter: invert(70%);
    cursor: pointer;
}

#sidebar .myList .add:hover img {
    filter: invert(46%) sepia(96%) saturate(1918%) hue-rotate(185deg) brightness(101%) contrast(102%);
}

.myList dialog::backdrop,
.bellDialog::backdrop {
    background-color: #101010cc;
    filter: brightness(0%);
}

.myList dialog .myListDialog {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.bellDialogCover {
    display: flex;
    flex-direction: column;
}

.myList dialog .myListDialog #dialogList {
    height: 90px;
    font-size: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.myList dialog .myListDialog #dialogList::placeholder {
    color: rgb(163, 162, 162);
    font-weight: bold;
}

.myList dialog .myListDialog .close,
.bellDialog .bellDialogCover .close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-left: auto;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.bellDialog .bellDialogCover .close {
    margin: auto;
    margin-bottom: 12px;
}

.myList dialog .myListDialog .close img,
.bellDialog .bellDialogCover .close img {
    height: 25px;
    width: 25px;
    filter: invert(60%);
    cursor: pointer;
}

.myList dialog .myListDialog .close img:hover,
.bellDialog .bellDialogCover .close img:hover {
    filter: invert(46%) sepia(96%) saturate(1918%) hue-rotate(185deg) brightness(101%) contrast(102%);
}

.myList dialog .myListDialog .submit {
    height: 40px;
    width: max-content;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    border-radius: 25px;
    background-color: rgb(11, 133, 255);
    color: white;
    filter: brightness(50%);
}

.myList dialog .myListDialog #dialogList:not(:placeholder-shown) + .submit {
    filter: brightness(100%);
    cursor: pointer;
}

.myList dialog .myListDialog #dialogList:not(:placeholder-shown) + .submit:hover {
    filter: brightness(90%);
}

#content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    gap: 25px;
    padding: 15px;
    padding-top: 10px;
}

#content > * {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background-color: #161616cc;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-sizing: border-box;
}

#content > .detail {
    background-color: #161616ef;
}

#content * {
    color: rgb(235, 233, 233);
}

#content .list {
    padding-top: 25px;
}

#content .list label{
    display: flex;
    align-items: center;
    gap: 10px;
}

#content .today:hover h3,
#content .tomorrow:hover h3,
#content .upcoming:hover h3 {
    color: rgb(11, 133, 255);
}

.today:hover,
.tomorrow:hover,
.upcoming:hover {
    background-color: #65656530;
    cursor: pointer;
}

.footerInputBox {
    height: max-content;
    width: 600px;
    background-color: #313131bb;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 0;
    padding-top: 0;
    box-sizing: border-box;
}

.footerInputBox:hover {
    box-shadow: 0 -5px 5px black;
}

#footerInput {
    height: 40px;
    border-radius: 8px;
    border: solid 1px #808080;
    outline: none;
    background-color: #161616;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 25px;
}

#footerInput:focus {
    border-color: rgb(11, 133, 255);
}

#footerInput::placeholder {
    font-size: 15px;
}

.footerInputBox .addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    bottom: 16px;
    background-color: transparent;
    border: none;
}

.footerInputBox .addTask img {
    height: 25px;
    width: 25px;
    filter: invert(60%);
    cursor: pointer;
}

.footerInputBox #footerInput:not(:placeholder-shown) ~ .addTask img {
    filter: invert(46%) sepia(96%) saturate(1918%) hue-rotate(185deg) brightness(101%) contrast(102%);
}

.footerInputBox .footerButtons {
    display: flex;
}

.footerInputBox .reminder,
.footerInputBox .priority {
    margin: 0 auto;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footerInputBox .reminder {
    border: none;
    border-right: solid 1px #808080;
    color: rgb(11, 133, 255) !important;
    font-weight: bold;
    font-size: 15px;
}

.footerInputBox .reminder img,
.footerInputBox .priority img {
    height: 25px;
    width: 25px;
    filter: invert(60%);
}

.footerInputBox .reminder:hover img,
.footerInputBox .priority:hover img {
    filter: invert(46%) sepia(96%) saturate(1918%) hue-rotate(185deg) brightness(101%) contrast(102%);
}

.bellDialog .flatpickr-calendar {
    margin: auto;
    background-color: #161616;
}

.bellDialog .flatpickr-monthDropdown-months,
.bellDialog .flatpickr-month,
.bellDialog .flatpickr-weekdays,
.bellDialog .flatpickr-weekdaycontainer > * {
    background: rgb(11, 133, 255) !important;
}

.bellDialog .flatpickr-day.flatpickr-disabled {
    color: #aaaa !important;
    background: none !important;
    cursor: not-allowed;
}

.bellDialog .flatpickr-month {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.submitTime {
    position: absolute;
    top: 415px;
    left: 140px;
    background-color: rgb(11, 133, 255);
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 20px;
    cursor: pointer;
}